In [1]:
from struct import pack

In [2]:
import numpy as np
import pandas as pd
from bitarray import util

# Figure 4

In [3]:
def figure_4(decimal):
    double_representation = [pack(">d", d).hex() for d in decimal]
    xor_with_previous = [None] + [
        util.ba2hex(util.hex2ba(cur) ^ util.hex2ba(prev))
        for prev, cur in zip(double_representation[:-1], double_representation[1:])
    ]

    df = pd.DataFrame(
        data={
            "Decimal": decimal,
            "Double Representation": double_representation,
            "XOR with previous": xor_with_previous,
        }
    ).set_index("Decimal")

    return df

In [4]:
figure_4([12, 24, 15, 12, 35])

        Double Representation XOR with previous
Decimal
12           4028000000000000              None
24           4038000000000000  0010000000000000
15           402e000000000000  0016000000000000
12           4028000000000000  0006000000000000
35           4041800000000000  0069800000000000

In [5]:
figure_4([15.5, 14.0625, 3.25, 8.625, 13.1])

        Double Representation XOR with previous
Decimal
15.5000      402f000000000000              None
14.0625      402c200000000000  0003200000000000
3.2500       400a000000000000  0026200000000000
8.6250       4021400000000000  002b400000000000
13.1000      402a333333333333  000b733333333333